@charset "UTF-8";
.str0 {stroke:#A9ABAE;stroke-width:0.279273}
.str7 {stroke:#015401;stroke-width:0.279273}
.str4 {stroke:#AB47BC;stroke-width:0.279273}
.str8 {stroke:#0B98CF;stroke-width:0.279273}
.str5 {stroke:#FEFEFE;stroke-width:0.732999}
.str2 {stroke:#26A69A;stroke-width:0.732999}
.str6 {stroke:#29B6F6;stroke-width:0.732999}
.str1 {stroke:#5C6BC0;stroke-width:0.732999}
.str12 {stroke:#AB47BC;stroke-width:0.732999}
.str3 {stroke:#F44336;stroke-width:0.732999}
.str9 {stroke:#FEFEFE;stroke-width:1.8325;stroke-dasharray:3.664996 1.832498}
.str11 {stroke:#29B6F6;stroke-width:1.8325;stroke-dasharray:3.664996 1.832498}
.str10 {stroke:#F44336;stroke-width:1.8325;stroke-dasharray:3.664996 1.832498}
.fil17 {fill:none}
.fil15 {fill:#00AFEF}
.fil7 {fill:#4B4B4D}
.fil14 {fill:#848688}
.fil2 {fill:#A9ABAE}
.fil4 {fill:#BDBFC1}
.fil0 {fill:#D2D3D5}
.fil5 {fill:#FEFEFE}
.fil13 {fill:#047504}
.fil11 {fill:#1565C0}
.fil1 {fill:#1D9C1D}
.fil8 {fill:#80CBC4}
.fil12 {fill:#81D4FA}
.fil6 {fill:#9FA8DA}
.fil18 {fill:#BA68C8}
.fil10 {fill:#CE93D8; cursor:pointer; }
.fil9 {fill:#E57373; cursor: pointer; }
.fil3 {fill:#F2F2F2}
.fil16 {fill:#FEFEFE;fill-rule:nonzero}